<!doctype html>
<html lang="en" ng-app="dnsApp">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="favicon.ico">
        <title>Food-X Technologies: DNS Migration Tool</title>
        <meta name="author" content="Jef King">
        <meta name="description" content="Migrate DNS Records to Azure using Azure Resource Manger templates." />
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/monaco-editor/min/vs/loader.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
        <div class="container vertical-center">
            <div class="panel panel-primary" ng-controller="json">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-book"></span> To use this you need to <a href="https://dns-lookup-api.whoisxmlapi.com/" target="_blank">sign up</a>, to get your own API Key.
                    </h3>
                <div>
                <div class="panel-body">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Api Key</span>
                            <input ng-model="key" type="text" id="apiKey" ng-change="change()" required />
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Domain Name</span>
                        <input ng-model="domain" type="text" id="domainName" ng-change="change()" required />
                    </div>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">Type</span>
                        <select ng-model="type" id="type" ng-change="change()" required>
                                <option value="_all">All</option>
                                <option value="A">A</option>
                                <option value="NS">NS</option>
                                <option value="MD">MD</option>
                                <option value="MF">MF</option>
                                <option value="CNAME">CNAME</option>
                                <option value="SOA">SOA</option>
                                <option value="MB">MB</option>
                                <option value="MG">MG</option>
                                <option value="MR">MR</option>
                                <option value="NULL">NULL</option>
                                <option value="WKS">WKS</option>
                                <option value="PTR">PTR</option>
                                <option value="HINFO">HINFO</option>
                                <option value="MINFO">MINFO</option>
                                <option value="MX">MX</option>
                                <option value="TXT">TXT</option>
                                <option value="RP">RP</option>
                                <option value="AFSDB">AFSDB</option>
                                <option value="X25">X25</option>
                                <option value="ISDN">ISDN</option>
                                <option value="RT">RT</option>
                                <option value="NSAP">NSAP</option>
                                <option value="NSAP_PTR">NSAP PTR</option>
                                <option value="SIG">SIG</option>
                                <option value="KEY">KEY</option>
                                <option value="PX">PX</option>
                            </select>
                    </div>
                </div>
                <div class="panel-footer">
                    <div id="container" class="codeEditor"></div>
                </div>
            </div>
        </div>
    </body>
</html>