html,
body {
  height: 100%;
  margin: 2
}
.codeEditor
{
  width: 100% !important;
  height: 640px !important;
  border:1px solid grey
}
.fullscreen {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  top: 0;
  left: 0;
}